<div class="container" >
  <div class="row">
    <div class="col-xs-12">

      <h3> Inscrivez vous si se n'ai pa déja fait </h3>

       <input type="text" id="fname" name="firstname" placeholder="Votre identifiant">
       <input type="text" id="fname" name="firstname" placeholder="Votre mot de passe">  
       <a routerLink="principal"><input type="submit" value="Connexion"></a>
       <p></p>
       <a routerLink="inscription"> <input type="submit" value="Inscription"></a>

    </div>
  </div>
</div>


